
<div class="container-fluid bg-dark mt-1">
	<p class="text-center text-white">Note: Any Errors occur then contact with Ankush. Designed and
		devloped by Ankush Dangi</p>
		<p class="text-center text-white"> all Reight Reserved @CodewithAnkush-2022-23 </p>
</div>